.cartButton {
    position: relative;
    width: fit-content;
}
button {
    overflow: auto;
    position: relative;
    display: flex;

    background: #151517;
    color: #fff;
    border-radius: 15px 5px 15px 5px;
    padding: 10px 15px;

}

.cartIcon {
    padding-right: 10px;
}

.itemIcon {
    width: 12px;
    position: absolute;
    left: 43%;
}

.itemIcon svg {
    fill: rgb(255, 255, 255);
}

.cartIcon svg {
    fill: rgb(255, 255, 255);
    width: fit-content;
}

/* .cartIcon .text {

} */